* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}




#web-tit{
   
    padding: 5px 5px -1px 5px;
    font-size: 42px;
    color: black;
    display: inline;

    border-radius: 5px;
}

#nav-bar{
    
    display: flexbox;
    background-color: #c2aeac;
    margin: 0;
    padding: 0;
    
}
#nav-bar ul{
    display: flex;
    float: right;
    text-align: right;
    
}
#nav-bar li{
    list-style: none;
    padding: 5px;
}

#nav-bar li a{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #43505b;
    top: -30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #7497bc;
    
}

#Image-1{
    background-color: bisque;
    background-image: url(../images\ /Josh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 400px;
    padding-bottom: 400px;
}  

#aboutme-div{
    background-color: #7497bc;
    height: 100vh;
    display: flexbox;
}

#Aboutme h1{
    padding-top: 10%;
    padding-left: 10%;
    font-size: 82px;
    text-decoration: underline;
    font-weight: bold;

    
}

#Aboutme p{
    font-size: 28px;
    text-decoration: none;
    text-align: left;
    display: inline-block;
    font-weight: 400;
    padding: 20px;
}





#clicker{
    padding-top: -300px;
    padding-left: 85%;

    
}

#clicker img{
    height: 150px;
}

.but{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #c2aeac;
    color: blueviolet;
    margin-right: 10px;
    align-items: center;
}

#pro-div{
    background-color: #43505b;
    height: 100vh;
    display: flexbox;
}

#projects h1{
    padding-top: 7%;
  
    font-size: 82px;
    text-decoration: underline;
    font-weight: bold;
}

#projects ul{
  
    margin-left: 50%;
    padding: 20px;
    list-style: none;
}

#projects ul li{
    border: 2px solid #7497bc;
    background-color: #7497bc;
    border-radius: 10px;  
    text-align: center;
    width: 50%;
    margin: 10px;
}

#projects ul li:hover{
    background-color: #c2aeac;
}


#projects ul li a{
    color: black;
    text-decoration: none;
    font-size: 28px;
  
}

#html-div h3{

    padding-left: 40%;
    font-size: 42px;
    text-decoration: underline;
    font-weight: bold;
}
#css-div h3{

   
    font-size: 42px;
    text-decoration: underline;
    font-weight: bold;
}

#con-div{
    background-color: #c2aeac;
    height: 100vh;
    display: flexbox;
}

#con h1{
    padding-bottom: 25px;
    font-size: 42px;
    text-decoration: underline;
    font-weight: bold;
}

#con h3{

    
    font-size: 42px;
    text-decoration: underline;
    font-weight: bold;
}

#con p{
    color: black;
    text-decoration: none;
    font-size: 28px;
    margin-left: 10px;
    display: inline;
}


#con i{
    color: black;
    text-decoration: none;
    font-size: 28px;
    margin-left: 55%;
    display: inline;

}

#footer-div{
    background-color: #43505b;
    height: 25vh;
    text-align: center;
    padding: 20px;
}

#foot img{
    height: 150px;
    border-radius: 10px;


    
}

#foot h4{
    text-align: center;
}

@media screen and (max-width : 600px){

    #Image-1{
    background-color: bisque;
    background-image: url(../images\ /Josh.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover ;
    box-sizing: border-box;
    height: 35vh;
  
    }
    
    #web-tit{
    padding: 0px 0px 0px 10px;
    font-size: 36px;
    color: black;
    display: block;
    border-radius: 5px;
    }
    
    
    #nav-bar ul{
    display: block;
    
    }
    
    
        
    #nav-bar li a{
    
    padding: 10px;
    
    border-radius: 5px;
    background-color: #43505b;
    top: -30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: red;
    }
    
    
    #dropdown {
    position: relative;
    display: inline-block;
    }
          
    #dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    }
    
    #dropdown:hover #dropdown-content {
    display: block;
    }

    #aboutme-div{
        background-color: #7497bc;
        height: 100vh;

    }
    
    #Aboutme h1{
        padding-top: 10%;
        text-align: center;
        font-size: 42px;
        text-decoration: underline;
        font-weight: bold;
    }
    
    #Aboutme p{
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 5px;
    }
    
    
    #clicker{
       display: inline;
        padding: 5px;
        object-position: center;
      
        align-items: center;
        
    }
    
    #clicker img{
        height: 150px;
        align-items: center;
        text-align: center;
        
    
    }

    #kitty{
       padding-left: 34vw;
       margin-top: 40px;
    }
    
    .but{
        display: inline;
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        background-color: #c2aeac;
        color: blueviolet;
        margin-right: 10px;
        margin-left: 40vw;
        margin-top: 40px;
    }
    
    #pro-div{
        background-color: #43505b;
        height: 100vh;
        display: flexbox;
    }
        
    #pro-div{
        background-color: #43505b;
        height: 100vh;
        display: flexbox;
    }
    
    #projects h1{
        text-align: center;
        font-size: 42px;
        text-decoration: underline;
    
    }
    
    #projects ul{
      
        margin-left: 18%;
        padding: 20px;
        list-style: none;
    }
    
    #projects ul li{
        border: 2px solid #7497bc;
        background-color: #7497bc;
        border-radius: 10px;  
        text-align: center;
        width: 70%;
        margin: 10px;
    }
    
    #projects ul li:hover{
        background-color: #c2aeac;
    }
    
    
    #projects ul li a{
        color: black;
        text-decoration: none;
        font-size: 12px;
      
    }
    
    #html-div h3{
        font-size: 16px;
        text-decoration: underline;
        font-weight: bold;
        margin-top: 30px;
    }
    #css-div h3{
    
        text-align: center;
        font-size: 16px;
        text-decoration: underline;
        font-weight: bold;
    }
    
    #con-div{
        background-color: #c2aeac;
        height: 100vh;
        display: flexbox;
    }
    
    #con h1{
        text-align: center;
        padding-bottom: 25px;
        font-size: 42px;
        text-decoration: underline;
        font-weight: bold;
        padding-bottom: 40%;
        padding-top: 40%;
    }
    
    #con h3{
    
        padding-left: 20px;
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
    }
    
    #con p{
        color: black;
        text-decoration: none;
        font-size: 16px;
        display: inline;
        text-align: center;
     
    }
    
    
    #con i{
        color: black;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
        display: inline;
    
    }

    #con a{
        font-size: 12px;
        text-decoration: none;
        color: black;
    }

    #footer-div{
        background-color: #43505b;
        height: 25vh;
        text-align: center;
        padding: 20px;
    }
    
    #foot img{
        height: 75px;
        border-radius: 10px;
        padding-top:10px;
        padding-bottom: 10px;
        object-position: center;
    }
    
    #foot h4{
        text-align: center;
    }
    }
