* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}




#web-tit{
   
    padding: 5px 5px -1px 5px;
    font-size: 42px;
    color: black;
    display: inline;

    border-radius: 5px;
}

#nav-bar{
    
    display: flexbox;
    background-color: #c2aeac;
    margin: 0;
    padding: 0;
    
}
#nav-bar ul{
    display: flex;
    float: right;
    text-align: right;
    
}
#nav-bar li{
    list-style: none;
    padding: 5px;
}

#nav-bar li a{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #43505b;
    top: -30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #7497bc;
    
}

#Image-1{
    background-color: bisque;
    background-image: url(../images\ /Josh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 400px;
    padding-bottom: 400px;
}  


#aboutme-div{
    background-color: #7497bc;
    height: 100vh;
    display: flexbox;
}

#Aboutme h1{
    padding-top: 10%;
    padding-left: 10%;
    font-size: 82px;
    text-decoration: underline;
    font-weight: bold;

    
}

#Aboutme p{
    font-size: 28px;
    text-decoration: none;
    text-align: left;
    width: 40%;
    display: inline-block;
    margin-left: 30%;
    font-weight: 400;
    border: 2px solid #43505b;
    border-radius: 10px;
    padding: 20px;
}

